@font-face {
  font-family: 'QQ';
  src: url('@/assets/fonts/qq.ttf') format('truetype');
}

@font-face {
  font-family: 'oppo-sans';
  src: url('@/assets/fonts/oppo-sans.woff') format('woff');
}

.qq-title {
  font-family: 'QQ' !important;
}

* {
  font-family: 'oppo-sans';
}

.linear-gradient {
  background: linear-gradient(
    90deg,
    #020024,
    #71c3ff 35%,
    #aeacff 65%,
    #f8a9ff
  );
}

.splitpanes--horizontal {
  .splitpanes__splitter {
    height: 0 !important;
    border: 1px solid #efefef;
    &:before,
    &:after {
      display: none;
    }
  }
}
